{% extends 'base.html' %}
{% load static %}

{% block titulo %}Encuesta{% endblock %}

{% block contenido %}
<h1>Formulario</h1>
<form action="{% url 'procesar_encuesta' %}" method="post">
    {% csrf_token %}
    <label>Nombre</label>
    <input type="text" name="name" required=""> <br>
    <br><label for="">Tiene hambre</label>
    <br>
    <input type="radio" name="hambre" value="si" id="si" required="">
    <label for="si">Si Tengo</label>
    <br>
    <input type="radio" name="hambre" value="no" id="no" required="">
    <label for="no">No Tengo</label>
    <br>
    <button type="submit">Enviar</button>
</form>
{% endblock %}


