<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda SENA</title>
    <link rel="stylesheet" href="/tienda/static/css/style.css">
</head>
<body>
    
        <h1 class="holi">Tienda SENA</h1>
    <ul>
        <a href="{% url 'index'%}"><li>Index</li></a>
        <a href="{% url 'prueba'%}"><li>Prueba</li></a>
        <a href="{% url 'user'%}"><li>Autor</li></a>
    </ul>
    
    
</body>
</html>